<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📕Poemas com palavras</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
</head>

<body>
    <div class="degrade">
        <div class="name">
            <h5> Gerador de poemas</h5>
            <button class="botaoDesce">
                <a href="#sobre"> Sobre</a>
            </button>
        </div>

    </div>
    <section id="sobre">
        <div class="container2">
            <div class="sobre">
                <h2> Sobre</h2>
             
                <p>Este trabalho utiliza a API do Gemini para criar poemas personalizados com base nas palavras
                    escolhidas pelo usuário. Não há restrições quanto ao vocabulário, permitindo uma ampla liberdade
                    criativa. O gerador de poemas é ideal para escritores, educadores e qualquer pessoa que deseje
                    explorar a poesia de maneira inovadora. Pode ser comercializado para aqueles interessados em
                    enriquecer suas práticas artísticas ou educacionais com uma ferramenta de geração poética flexível e
                    criativa.</p>
                <button class="botaoDesce">
                    <a href="#Gerador">Gerador</a>
                </button>
            </div>
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path class="ondaFundo" fill="#5388" fill-opacity="1"
                    d="M0,64L48,90.7C96,117,192,171,288,160C384,149,480,75,576,74.7C672,75,768,149,864,197.3C960,245,1056,267,1152,240C1248,213,1344,139,1392,101.3L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                </path>
                <path class="ondaMeio" fill="#5026ca" fill-opacity="1"
                    d="M0,128L48,154.7C96,181,192,235,288,240C384,245,480,203,576,165.3C672,128,768,96,864,90.7C960,85,1056,107,1152,128C1248,149,1344,171,1392,181.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                </path>
                <path class="ondaFrente" fill="#4500ca" fill-opacity="1"
                    d="M0,160L48,181.3C96,203,192,245,288,224C384,203,480,117,576,112C672,107,768,181,864,208C960,235,1056,213,1152,208C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                </path>
            </svg>
        </div>
    </section>
    <div class="container" id="Gerador">
        <div class="emvoltadoformulario">
            <div class="formulario">

                <br>
                <div id="palavras">
                    <div class="palavra-row">
                        <input type="text" class="palavra palavra-input"
                            placeholder="Informe uma palavra impactante...">
                        <button class="btn-danger" onclick="removePalavra(this)" disabled>Excluir</button>
                    </div>
                    <div class="palavra-row">
                        <input type="text" class="palavra palavra-input"
                            placeholder="Informe uma palavra impactante...">
                        <button class="btn-danger" onclick="removePalavra(this)" disabled>Excluir</button>
                    </div>
                    <div class="palavra-row">
                        <input type="text" class="palavra palavra-input"
                            placeholder="Informe uma palavra impactante...">
                        <button class="btn-danger" onclick="removePalavra(this)" disabled>Excluir</button>
                    </div>
                </div>
                <button class="btn-primary" onclick="addPalavra()">Adicionar Palavras</button>
                <button id="enviar" class="btn-success" onclick="submitForm()">Gerar Poema</button>
            </div>
        </div>
        <img id="gif" src="../static/loadingcolorido.gif" alt="" width="400px">
        <div id="response" class="response">

        </div>

    </div>
    <footer>
        Desenvolvido por Geovanna Antunes Corrêa | Escola SENAI de Itapeva
        Orientação dos Professores: João Lepinsk e Rafael Ribas


    </footer>


    <script src="../static/script.js"></script>
</body>

</html>