<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>📕Poemas com palavras</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
       
    <div class="emvoltadoformulario">
        <div class="formulario">
            <h1>Gerador de poemas</h1>
            <p>Agora você pode gerar poemas para a aula de literatura de maneira fácil e eficaz!! Apenas escolha as palavras que deseja incluir no poema e ele será gerado.</p>
           <br>
            <div id="palavras">
                <div class="palavra-row">
                    <input type="text" class="palavra palavra-input"
                        placeholder="Informe uma palavra impactante...">
                    <button class="btn-danger" onclick="removePalavra(this)" disabled>Excluir</button>
                </div>
                <div class="palavra-row">
                    <input type="text" class="palavra palavra-input"
                        placeholder="Informe uma palavra impactante..."> 
                    <button class="btn-danger"onclick="removePalavra(this)" disabled>Excluir</button>
                </div>
                <div class="palavra-row">
                    <input type="text" class="palavra palavra-input"
                        placeholder="Informe uma palavra impactante..."> 
                    <button class="btn-danger"onclick="removePalavra(this)" disabled>Excluir</button>
                </div>
            </div>
            <button class="btn-primary" onclick="addPalavra()">Adicionar Palavras</button>
            <button class="btn-success" onclick="submitForm()">Gerar Poema</button>
        </div>
    </div>
        <div id="response" class="response"></div>
   
    </div>
    <footer>  
        Desenvolvido por Geovanna Antunes Corrêa | Escola SENAI de Itapeva
Orientação dos Professores: João Lepinsk e Rafael Ribas




    </footer>    


    <script src="../static/script.js"></script>
</body>

</html>